<div [formGroup]="form" class="row">
    <div class="column">
        <mat-form-field>
            <mat-label>Login</mat-label>
            <mat-select formControlName="Login" placeholder="User">
                <mat-option *ngFor="let user of allUsers" [value]="user">{{user}}</mat-option>
            </mat-select>   
        </mat-form-field>
    </div>
    <div class="column">
        <button mat-raised-button color="primary" (click)="login()" class="column">Login</button>
    </div>
    
</div>