<div [formGroup]="form" class="row">
    <div class="column">
        <mat-form-field>
            <mat-label>Login</mat-label>
            <select formControlName="Login" placeholder="User" matSelect>
                <option *ngFor="let user of (allUsers$ | async)" [value]="user.name">{{user.name}}</option>
            </select>   
        </mat-form-field>
    </div>
    <div class="column">
        <button mat-raised-button color="primary" (click)="login()" class="column">Login</button>
    </div>
    
</div>